.header,
.header-dashboard {
	justify-content: space-between;
	padding: 20px 2rem 0px 2rem;
	gap: 1rem;
}

.header__title {
	font-size: 3vw;
}

.header__input {
	width: 200px;
}

.header__create {
	width: 150px;
	font-size: 12px;
}

.header__products {
	font-size: 20px;
}

@media (max-width: 768px) {
	.header__title {
		text-align: center;
		font-size: 6vw;
	}

	.header-dashboard {
		grid-template-columns: 1fr 2fr 1fr;
	}

	.header-dashboard .header__products {
		display: none;
	}

	.header-dashboard .header__title {
		text-align: center;
		font-size: 3.2vw;
	}

	.header__menu {
		display: block;
	}

	.header__menu--icon {
		width: 1.5rem;
		height: 1.5rem;
	}

	.header__tooltip-wrapper {
		display: none;
	}

	.header__search {
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	.header__search--icon {
		width: 2rem;
		height: 2rem;
	}

	.header__userPhoto {
		display: none;
	}
}

@media (max-width: 480px) {
	header,
	.header-dashboard {
		padding: 15px 0.5rem;
		gap: 0.5rem;
	}

	.header__menu--icon {
		width: 1rem;
		height: 1rem;
	}

	.header-dashboard .header__title {
		font-size: 3.2vw;
	}

	.header__search--icon {
		width: 1.5rem;
		height: 1.5rem;
	}

	.container {
		padding: 0 1rem;
	}
}
