@media (max-width: 768px) {
	.main {
		width: 100vw;
	}

	.main__register {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto auto auto 1fr;
		gap: 10px;
		grid-template-areas:
			'text1'
			'register'
			'login'
			'illustration';
		padding: 2rem;
	}

	.main__register--text {
		width: 100%;
		grid-area: text1;
	}

	.main__register--text-button {
		display: none;
	}

	.mainOne__tooltip-wrapper {
		display: block;
		grid-area: register;
	}

	.main__register--button {
		display: block;
		width: 206px;
		height: 52px;
		background-color: var(--pink);
		color: var(--black);
		border-radius: 4px;
		font-weight: bold;
		font-size: 1.25rem;
	}

	.mainTwo__tooltip-wrapper {
		display: block;
		grid-area: login;
	}

	.main__login--button {
		display: block;
		width: 130px;
		height: 52px;
		background-color: var(--orange);
		color: var(--white);
		font-weight: bold;
		font-size: 1.25rem;
		border-radius: 4px;
	}

	.main__home-illustration {
		grid-area: illustration;
	}

	.main__organize {
		display: none;
	}
}
